body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listing-card {
  background-color: #EEEAEA;
  width: 300px;
  height: 375px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listing-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.listing-text {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.listing-description {
  font-weight: 400;
  margin-left: 10px;
}

.navbar {
  background-color: #EEEAEA;
}

.navbar-text {
  font-family: 'Inter', sans-serif;
}