# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore the csv files
csv/

# ignore the json files
json/

# ignore the venv
# !!! CREATE WITH pythom -m venv venv !!!
# !!! ACTIVATE WITH venv\Scripts\Actvate (windows) or source venv/bin/activate (mac) !!!
# !!! THEN RUN pip install -r requirements.txt !!!
# !!! UPDATE requirements.txt WITH pip freeze > requirements.txt
/model/venv/

